$sideblk: #323232;
$sidebar: #4d4d4d;
$header: #556b6c;
$body: #fbf4f0;
$txt: #333;
$black: #000;
$white: #fff;

$clr1: #9fb9c1;
$clr2: #52637a;
$clr3: #dd8096;
$clr4: #806863;
$clr5: #95df9f;

$fontPath: './fonts';